<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.daos.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.web.beans.Question" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="optionA" property="optionA" jdbcType="VARCHAR" />
    <result column="optionB" property="optionB" jdbcType="VARCHAR" />
    <result column="optionC" property="optionC" jdbcType="VARCHAR" />
    <result column="optionD" property="optionD" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="modifyTime" property="modifyTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, optionA, optionB, optionC, optionD, answer, author, modifyTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from question
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.web.beans.Question" >
    insert into question (id, title, optionA, 
      optionB, optionC, optionD, 
      answer, author, modifyTime
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{optionA,jdbcType=VARCHAR}, 
      #{optionB,jdbcType=VARCHAR}, #{optionC,jdbcType=VARCHAR}, #{optionD,jdbcType=VARCHAR}, 
      #{answer,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{modifyTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.web.beans.Question" >
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="optionA != null" >
        optionA,
      </if>
      <if test="optionB != null" >
        optionB,
      </if>
      <if test="optionC != null" >
        optionC,
      </if>
      <if test="optionD != null" >
        optionD,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="modifyTime != null" >
        modifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="optionA != null" >
        #{optionA,jdbcType=VARCHAR},
      </if>
      <if test="optionB != null" >
        #{optionB,jdbcType=VARCHAR},
      </if>
      <if test="optionC != null" >
        #{optionC,jdbcType=VARCHAR},
      </if>
      <if test="optionD != null" >
        #{optionD,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.beans.Question" >
    update question
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="optionA != null" >
        optionA = #{optionA,jdbcType=VARCHAR},
      </if>
      <if test="optionB != null" >
        optionB = #{optionB,jdbcType=VARCHAR},
      </if>
      <if test="optionC != null" >
        optionC = #{optionC,jdbcType=VARCHAR},
      </if>
      <if test="optionD != null" >
        optionD = #{optionD,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modifyTime = #{modifyTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.beans.Question" >
    update question
    set title = #{title,jdbcType=VARCHAR},
      optionA = #{optionA,jdbcType=VARCHAR},
      optionB = #{optionB,jdbcType=VARCHAR},
      optionC = #{optionC,jdbcType=VARCHAR},
      optionD = #{optionD,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      modifyTime = #{modifyTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>